# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 12
      uses: actions/setup-java@v1
      with:
        java-version: 12
    - name: Grant execute permission for gradlew 
      run: cd ca.mcgill.ecse.flexibook; chmod +x gradlew
    - name: Build with Gradle
      run:  cd ca.mcgill.ecse.flexibook; ./gradlew build 

    - name: Upload Unit Test Results
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: Unit Test Results (Java ${{ matrix.java-version }})
        path: test-results.xml


    - name: Download Artifacts
        uses: actions/download-artifact@v2
	with:
          path: .github

    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v1.3
      if: always()
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        check_name: Unit Test Results
        comment_title: Unit Test Statistics
        hide_comments: all but latest
        comment_on_pr: true
        files: test-results.xml
        report_individual_runs: true
        deduplicate_classes_by_file_name: false


